a{
  color: rgb(255, 251, 0);
  font-size: 40px;
  text-decoration: none;
  
}
a:hover{
  color: rgb(251, 192, 82);
  
}
hr{
  margin: 5% 10%;
}
li {
  list-style: none;

}
.links-container{
  background-color: rgb(26, 114, 99);
  padding: 1% .5%;
}
.link{
  font-size: 22px;
}
.links{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
h2{ 
  color: rgb(53, 184, 129);
  text-align: center;
  font-size: 50px;
}
.github-links{
  background: linear-gradient(to bottom, #196f75 0%,#1f9e74 44%,#d1b123 89%);
 height: 800px;
  margin-top: -45px;
}
.cards{
   display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 24px;
  justify-items: center;
}
.cards > li {
  margin-top: 20%;
}
.pastels{
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  /* margin-top: -20px; */
  height: 200%;
  background-color: rgb(251, 192, 82);
  color: rgb(7, 11, 56)

}
.pastels-content{
 
  margin: 5%;
  padding:7%;
  line-height: 2rem;
  font-size: 22px;
}
.pastels-2{
  display: grid;
  grid-template-columns:2.5fr   1fr ;
  margin-top: -20px;
  height: 200%;
  background-color: rgb(232, 255, 128);
  color: rgb(18, 3, 22)

}
.pastels-content-2{
  margin:5%;
  padding:10%;
  line-height: 2rem;
  font-size: 22px;
}
.pastels-3{
  display: grid;
  grid-template-columns:   1fr ;
  margin-top: -20px;
  height: 200%;
  background-color: rgb(146, 248, 106);
  color: rgb(18, 3, 22)

}
.pastels-content-3{
  margin:5%;
  padding:10%;
  line-height: 2rem;
  font-size: 22px;
}
.js{
  margin-top: 20%;
}
.App {
  text-align: center;
}

.App-logo-2 {
  height: 40vmin;
  pointer-events: none;
  margin-top: 30%;
  margin-left: 13%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-2 {
    animation: App-logo-spin 9s linear infinite;
  }
}
.player{
  padding:5%;
}
.video-container{
  background-image: url("chalk-on-wall.jpg");
  background-size: cover;
  background-position: bottom;
 height: 600px;
  margin-top: -45px;
}
.videos{
  display: grid;
 grid-template-columns: 1fr 1fr;
 font-size: 24px;
 justify-items: center;
}

.footer {
  height:159px;
  background-color: black;
  color: white;
  font-size: 30px;
  font-family: monospace;
  text-align: center;
  padding-top: 5%;
}
.image{
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-image: url("chalk-on-wall.jpg");
  background-size: cover;
  background-position: center;
height: 400px;
color: lightblue;

}
.image h1{
  padding: 15%;
  font-size: 5rem;
}
.App-header {
  background-image: url("chalk-on-wall.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 900px) {
  .links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .image{
    display: grid;
    grid-template-columns: 1fr;
  background-image: url("https://thedevcouple.com/wp-content/uploads/2017/10/Interview-React-2.jpg");
  background-size: cover;
  height: 200%;
  color: lightblue;
  
  }
  .video-container{
    background: linear-gradient(to bottom, #1105be 0%,#2cc8e4 44%,#2f8b46 89%);
   height: 200%;
  }
  .videos{
    display: grid;
   grid-template-columns: 1fr;
   font-size: 16px;
   justify-items: center;
  }
.github-links{
  background: linear-gradient(to bottom, #b4e391 0%,#94e42c 44%,#23d14f 89%);
 height: 200%;
  margin-top: -45px;
}
.cards{
   display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 24px;
  justify-items: center;
}
.cards > li {
  margin-top: 20%;
}
.pastels{
  display: grid;
  grid-template-columns: 1fr;
  margin-top: -20px;
  height: 200%;
  background-color: rgb(251, 192, 82);
  color: rgb(52, 62, 207)

}
.pastels-content{
 
  margin: 5%;
  padding:7%;
  line-height: 2rem;
  font-size: 22px;
}
.pastels-2{
  display: grid;
  grid-template-columns:  1fr ;
  margin-top: -20px;
  height: 200%;
  background-color: rgb(232, 255, 128);
  color: rgb(136, 35, 161)

}
}