/* HSL */
$color1: hsla(207%, 97%, 15%, 1);
$color2: hsla(100%, 1%, 100%, 1);
$color3: hsla(174%, 77%, 77%, 1);
$color4: hsla(353%, 87%, 91%, 1);
$color5: hsla(35%, 89%, 100%, 1);

/* RGB */
$color1: rgba(1, 22, 39, 1);
$color2: rgba(253, 255, 252, 1);
$color3: rgba(46, 196, 182, 1);
$color4: rgba(231, 29, 54, 1);
$color5: rgba(255, 159, 28, 1);

/* HEX */
$color1: #011627ff;
$color2: #fdfffcff;
$color3: #2ec4b6ff;
$color4: #e71d36ff;
$color5: #ff9f1cff;

/* GRADIENT */
$gradient-top: linear-gradient(0deg, #2ec4b6ff, #e71d36ff, #ff9f1cff);
$gradient-right: linear-gradient(90deg, #011627ff, #fdfffcff, #2ec4b6ff, #e71d36ff, #ff9f1cff);
$gradient-bottom: linear-gradient(180deg, #011627ff, #fdfffcff, #2ec4b6ff, #e71d36ff, #ff9f1cff);
$gradient-left: linear-gradient(270deg, #2ec4b6ff, #e71d36ff, #ff9f1cff);
$gradient-top-right: linear-gradient(45deg, #011627ff, #fdfffcff, #2ec4b6ff, #e71d36ff, #ff9f1cff);
$gradient-bottom-right: linear-gradient(135deg, #011627ff, #fdfffcff, #2ec4b6ff, #e71d36ff, #ff9f1cff);
$gradient-top-left: linear-gradient(225deg, #011627ff, #fdfffcff, #2ec4b6ff, #e71d36ff, #ff9f1cff);
$gradient-bottom-left: linear-gradient(315deg, #011627ff, #fdfffcff, #2ec4b6ff, #e71d36ff, #ff9f1cff);
$gradient-radial: radial-gradient(#011627ff, #fdfffcff, #2ec4b6ff, #e71d36ff, #ff9f1cff);

a{
  color: $color5;
  font-size: 40px;
  text-decoration: none;
  
}
a:hover{
  color: rgb(251, 192, 82);
  
}
hr{
  margin: 5% 5%;
}
li {
  list-style: none;

}
.delete-button{
  visibility: hidden;
}
.form-heading{
  text-align: center;
  padding:5%;
  background-image: url("chalk-on-wall.jpg");
  background-size: cover;
  background-position: top;
  font-size: 30px;
}
.submit-button{
  background-color: rgba(251, 192, 82, 0.5)!important;
  font-size: 1.3rem!important;
}
.submit-button:hover{
  background-color: rgba(251, 192, 82, 0.8)!important;
  
}

.visitor-card-list{
  padding: 5% 0% 30% 0%;
  height:100%;
  background-color: $color3;
}
#expand-panel{
  color: rgb(18, 3, 22);
  font-family: monospace;
  max-width: 50%;
  margin-left: 25%;
}

.links-container{
  background-color: $color1;
  padding: 1% .5%;
}
.link{
  font-size: 22px;
}
.links{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
h2, h1{ 
  color: $color3;
  text-align: center;
  font-size: 50px;
}
.github-links{
  background: $color4;
 height: 800px;
  margin-top: -45px;
}
.cards{
   display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 24px;
  justify-items: center;
}
.cards > li, .js {
  margin-top: 20%;
}
.pastels{
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  /* margin-top: -20px; */
  height: 200%;
  background-color: $color4;
  color: $color2;

}
.pastels-content, .pastels-content-2,.pastels-content-3{
  margin: 5%;
  padding:7%;
  line-height: 2rem;
  font-size: 22px;
}
.pastels-2{
  display: grid;
  grid-template-columns:1fr ;
  margin-top: -20px;
  height: 200%;
  background-color: $color3;
  color: $color2;

}
.pastels-3{
  display: grid;
  grid-template-columns:   1fr ;
  margin-top: -20px;
  height: 200%;
  background-color: $color5;
  color: rgb(18, 3, 22)
}
.pastels-content-3 > h2{
 color: rgb(26, 114, 99);
}
.App {
  text-align: center;
}

.App-logo-2 {
  height: 40vmin;
  pointer-events: none;
  margin-top: 30%;
  margin-left: 13%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-2 {
    animation: App-logo-spin 7s linear infinite;
  }
}
.player{
  padding:5%;
}
.video-container{
  background-image: url("chalk-on-wall.jpg");
  background-size: cover;
  background-position: bottom;
 height: 600px;
  margin-top: -45px;
}
.videos{
  display: grid;
 grid-template-columns: 1fr 1fr;
 font-size: 24px;
 justify-items: center;
}

.footer {
  height:159px;
  background-color: black;
  color: white;
  font-size: 30px;
  font-family: monospace;
  text-align: center;
  padding-top: 5%;
  
}
.image{
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-image: url("chalk-on-wall.jpg");
  background-size: cover;
  background-position: center;
height: 400px;
color: lightblue;

}

.App-header {
  background-image: url("chalk-on-wall.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 60px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 900px) {
  .links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .image{
    display: grid;
    grid-template-columns: 1fr;
  background-image: url("https://thedevcouple.com/wp-content/uploads/2017/10/Interview-React-2.jpg");
  background-size: cover;
  height: 200%;
  color: lightblue;
  
  }

  .video-container{
    background: linear-gradient(to bottom, #1105be 0%,#2cc8e4 44%,#2f8b46 89%);
   height: 200%;
  }

  .videos{
    display: grid;
   grid-template-columns: 1fr;
   font-size: 16px;
   justify-items: center;
  }

.github-links{
  background: linear-gradient(to bottom, #b4e391 0%,#94e42c 44%,#23d14f 89%);
 height: 200%;
  margin-top: -45px;
}
.cards{
   display: grid;
  grid-template-columns: 1fr;
  font-size: 24px;
  justify-items: center;
}
.cards > li {
  margin-top: 20%;
}
.pastels{
  display: grid;
  grid-template-columns: 1fr;
  margin-top: -20px;
  height: 200%;
  background-color: rgb(251, 192, 82);
  color: rgb(4, 6, 36);

}
.pastels-content{
 
  margin: 5%;
  padding:7%;
  line-height: 2rem;
  font-size: 22px;
}
.pastels-2{
  display: grid;
  grid-template-columns:  1fr ;
  margin-top: -20px;
  height: 200%;
  background-color: rgb(232, 255, 128);
  color: rgb(7, 0, 8);

}
.visitor-card-list{
  padding-bottom: 30%;
  height:100%;
  background-color: rgb(251, 192, 82);
}
#expand-panel{
  color: rgb(18, 3, 22);
  font-family: monospace;
  max-width: 90%;
  margin-left: 5%;
}
.form{
  display: grid;
  grid-template-columns: 1fr;
  font-size: 16px;
  justify-items: center;
}
}
.title {
  text-align: center;
}

.nowPlaying {
    display: grid;
    grid-template-columns:  1fr 1fr;
    justify-items: center;
}
.card{
 padding: 7%;
 line-height: 1.5rem;
 font-size: 1.5rem;
}
.release-date{
  color:black;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  padding: 1% 5%;
}
#form{
  padding-left: 35%;
}