/* HEX */
$color1: #011627ff;
$color2: #fdfffcff;
$color3: #2ec4b6ff;
$color4: #e71d36ff;
$color4light: rgba(231, 29, 53, 0.198);
$color5: #ff9f1cff;
$color6: rgba(255, 159, 28, 0.5);

.delete-button{
  visibility: hidden;
}
a{
  color: $color5;
  font-size: 40px;
  text-decoration: none;
}
 a:hover{
  color: $color3; 
}
a[class="style-links"] {
  color: $color1;
  font-size: 4rem;
  
}
a[class="style-links"]:hover {
  color: $color4;
}
hr{
  margin: 5% 5%;
}
li {
  list-style: none;
}
h2, h1{ 
  font-size: 50px;
  line-height: 40px;
  padding:3%;
}
#expand-panel{
  max-width: 50%;
  margin-left: 25%;
}
#form{
  padding-left: 35%;
}
#hooks-form{
  flex-direction: column;
  max-width: 40%;
  margin-left: 30%;
  label{
    font-size: 2rem;
    padding: 20px;
  }
}
#expand-panel,.footer{
  font-family: monospace!important;
}
h2, h1,#expand-panel,.pastels-3,.user-submit-button:hover, .submit-button:hover{
  color:$color1!important;
}
.footer, .style-resources,.user-submit-button,submit-button,.pastels{
  color:$color2!important;
}
.form-heading,.video-container,.image,.style-resources {
  background-image: url("chalk-on-wall.jpg");
  background-size: cover;
}
.form-heading, .title,.footer, #hooks-form,h2, h1{
  text-align: center;
}
#hooks-form,.links,.style-resources {
  display: flex;
}
.videos, .nowPlaying, .pastels,  .pastels-2, .pastels-3, .cards, .image{
  display: grid;
}
.videos, .nowPlaying{
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.pastels-content, .pastels-content-2,.pastels-content-3{
  margin: 5%;
  padding:7%;
  line-height: 2rem;
  font-size: 22px;
}

.pastels-content, .pastels-content-2{
  background: $color6;
  border-radius: 3%;
}
.pastels, .pastels-2, .pastels-3{
  height: 200%;
}
.pastels-2, .pastels-3{
  margin-top: -20px;
  grid-template-columns: 1fr;
}
.pastels{
  grid-template-columns: 1fr 2.5fr;
  background-color: $color4;
}
.pastels-2{
  background-color: $color3;
}
.pastels-3{  
  background-color: $color5;
}
.pastels-content-3 > h2{
 color: $color1;
}
.pastels-content-3{
 background: $color4light;
 border-radius: 3%;

}
.form-heading{
  padding:5%;
  background-position: top;
  font-size: 30px;
}
.user-submit-button,.submit-button{
  background-color:$color4!important;
  font-size: 1.3rem!important;
  margin-top:20px!important;
}
.user-submit-button:hover, .submit-button:hover{
  background-color: $color5!important;
  color: $color1!important; 
}
.visitor-card-list{
  padding: 5% 0% 30% 0%;
  height:100%;
  background-color: $color3;
}
.links-container{
  background-color: $color1;
  padding: 1% .5%;
}
.link{
  font-size: 22px;
}
.links{
  flex-direction: row;
  justify-content: space-evenly;
}
.github-links{
  background: $color4;
  height: 1100px;
  margin-top: -45px;
}
.cards{
  grid-template-columns: 1fr 1fr;
  font-size: 24px;
}
.material-card{
  background: url("https://create-react-app.dev/img/logo-og.png")no-repeat left;
  margin: 5%;
}
.description{
  color:white;
  font-size: 20px!important;
}
.cards > li, .js {
  margin-top: 20%;
}
.App-logo-2 {
  height: 40vmin;
  margin-top: 30%;
  margin-left: 13%;
}
.player{
  padding:5%;
}
.video-container{
  background-position: bottom;
  height: 600px;
  margin-top: -45px;
}
.videos,.footer{
 font-size: 24px;
}
.footer {
  height:159px;
  background-color: $color1;
  padding-top: 5%; 
}
.image{
  grid-template-columns: 1fr 2fr;
  background-position: center;
  height: 400px;
}
.style-resources {
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}
.card{
 padding: 7%;
 line-height: 1.5rem;
 font-size: 1.5rem;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo-2 {  animation: App-logo-spin 7s linear infinite; }
}
@media only screen and (max-width: 900px) {
  .links{
    flex-direction: column;
  }
  .video-container, .github-links,.image{
   height: 200%;
  }
  .videos{
   font-size: 16px;
  }
.cards,.videos,.pastels,.pastels-2,.image,.nowPlaying{
  grid-template-columns: 1fr;
  justify-items: center;
}
#expand-panel{
  max-width: 90%;
  margin-left: 5%;
}
}
